.activedfdf {
  color: rgb(1, 16, 27);

  color: rgb(93, 0, 255);

  color: rgb(162, 199, 227) (1, 16, 27);

  color: rgb(14, 60, 96);

  color: #039be5;

  color: #039be5;

  color: #039be5;

  color: #039be5;
}

.active {
  color: #039be5;

  border-bottom: 2px solid;

  border-color: #039be5;
}
